.box {
  padding-top: 5%;
  padding-bottom: 10%;
}

.material-icons.large-size {
  font-size: 48px;
}

.funneyNumber {
  font-size: 220%;
  display: inline-block;
  vertical-align: baseline;
}

.funneyUnit {
  display: inline-block;
  vertical-align: text-bottom;
}
