.inner {
  width: 50%;
  margin: 10% auto 0 auto;
  text-align: center;
}

.box {
  padding-top: 10%;
  padding-bottom: 10%;
}

.material-icons {
  width: 60px;
  height: 60px;
}

.text_inner {
  display: inline-block;
  padding: 0 10%;
}

.studentNumber {
  display: block;
  padding: 5% 0;
  font-size: 1.4rem;
}

.funneyRest {
  display: block;
  padding-top: 10%;
  font-size: 1.4rem;
}

.funneyNumber {
  font-size: 3rem;
}

.funneyUnit {
  display: inline-block;
  font-size: 1.5rem;
}
