.inner {
  width: 70%;
  margin: 10% auto;
  text-align: center;
}

.box {
  padding-top: 10%;
  padding-bottom: 30%;
}

.material-icons.large-size {
  font-size: 100px;
}

.text_inner {
  display: inline-block;
  text-align: left;
  padding: 0 10%;
}

.studentNumber {
  display: block;
  padding: 5% 0;
  font-size: 1.4rem;
}

.funneyRest {
  display: block;
  padding-top: 10%;
  text-align: left;
  font-size: 1.4rem;
}

.funneyNumber {
  font-size: 3rem;
}

.funneyUnit {
  display: inline-block;
  font-size: 1.5rem;
}
